meta {
  -theme-display-name: "LaserWave";
  -theme-interface-style: dark;
  -theme-accent-color: auto;
}

meta.window {
  background-color: #27212e;
  border-color: #27212e;
}

meta.titlebar {
  color: #91889b;
  border-color: #2e303e;
  background-color: inherit;
}

meta.title.inactive {
  background-color: #242029;
}

meta.button {
  color: #ffffff;
  background-color: #b381c5;
}

meta.button.disabled {
  background: #7b6995;
}

meta.button.highlighted {
  background-color: #9e5eb5;
}

meta.button.highlighted.selected {
  background-color: #9e5eb5;
}

meta.button.selected {
  background-color: #b381c5;
}

meta.textfield {
  background-color: #40364c;
  border-color: #2e3033;
}

meta.textfield.highlighted {
  background-color: #594c69;
}

meta.document {
  background-color: #27212e;
  border-color: #27212e;
}

meta.document.button {
  color: #ffffff;
  background-color: #b381c5;
}

meta.document.button.disabled {
  background: #7b6995;
}

meta.document.button.highlighted {
  background-color: #9e5eb5;
}

meta.document.textfield {
  background-color: #40364c;
  border-color: #2e3033;
}

meta.document.textfield.highlighted {
  background-color: #594c69;
}

meta.text {
  color: #dcdbdd;
  background-color: #27212e;
}

meta.text.invisible {
  color: rgba(204, 230, 255, 0.15);
}

meta.text.selected {
  background-color: #ff52bf27;
}

meta.cursor {
  background-color: #342c3d;
}

meta.indentguide {
  border-color: #74dfc4;
}

meta.gutter {
  color: #91889b;
}

meta.gutter.selected {
  background-color: #27212e;
  color: #ffffff;
}

/* Syntax styles - https://docs.nova.app/extensions/themes */
comment {
  font-style: italic;
  color: #91889b;
}

processing {
  color: #ffffff;
}

declaration {
  color: #40b4c4;
}

bracket {
  color: #7b6995;
}

operator {
  color: #74dfc4;
}

invalid {
  background-color: #db8fab;
  color: #f8f8f1;
}

/* Keywords */
keyword,
keyword.condition,
keyword.statement {
  color: #40b4c4;
}

keyword.modifier,
keyword.construct {
  color: #b381c5;
}

keyword.self {
  color: #ffe261;
}

/* Values */
value,
value.number,
value.entity,
value.symbol {
  color: #b381c5;
}

value.boolean,
value.null {
  color: #ffe261;
}

/* Identifiers */
identifier,
identifier.constant,
identifier.global,
identifier.variable {
  color: #ffffff;
}

identifier.property {
  color: #40b4c4;
}

identifier.decorator,
identifier.function,
identifier.method {
  color: #eb64b9;
}

identifier.type {
  color: #b381c5;
}

identifier.key {
  color: #74dfc4;
}

identifier.argument {
  color: #ffffff;
}

identifier.core {
  color: #ffe261;
}

/* Types */
/* Members */
/* Strings */
string,
string.key {
  color: #b4dce7;
}

string.delimeter {
  color: #a1d3e1;
}

string.escape {
  color: ligthen(#b4dce7, 5%);
}

string-template {
  color: #91889b;
}

string-template.value {
  color: #b381c5;
}

cdata {
  color: #ffe261;
}

/* Types */
/* Tags */
tag.attribute.name {
  color: #eb64b9;
}

tag.open,
tag.close {
  color: #74dfc4;
}

tag.attribute.value {
  color: #b4dce7;
}

tag.attribute.operator {
  color: #74dfc4;
}

tag.name {
  color: #74dfc4;
}

/* Styles (CSS, SCSS, etc) */
style.at {
  color: #40b4c4;
  font-weight: bold;
}

style.attribute {
  color: #ffffff;
}

style.attribute.name {
  color: #40b4c4;
}

style.attribute.separator,
style.selector.operator,
style.value.color.hsl.bracket,
style.value.color.hsla.bracket,
style.value.function.bracket {
  color: #91889b;
}

style.selector.pseudoelement,
style.selector.identifier.name.class {
  color: #eb64b9;
}

style.selector.simple.element.identifier.name {
  color: #74dfc4;
}

style.selector.simple.unknown {
  color: #ffffff;
}

style.value.keyword {
  color: #ffffff;
}

style.value.number.unit {
  color: #9e5eb5;
}

scss.style.selector.operator {
  color: #40b4c4;
}

/* Markdown */
markup.heading {
  color: #40b4c4;
}

markup.line {
  color: #eb64b9;
}

markup.bold {
  color: #eb64b9;
  font-weight: bold;
}

markup.italic {
  color: #eb64b9;
  font-style: italic;
}

markup.strikethrough {
  color: #eb64b9;
}

markup.list.ordered,
markup.list.unordered {
  color: #ffffff;
}

markup.list.item,
markup.block.quote {
  color: #91889b;
}

markup.block.code,
markup.inline.code {
  background-color: #27212e;
  color: #7b6995;
}

markup.link {
  color: #b381c5;
}

/* JSON */
json.comma,
json.operator.colon {
  color: #7b6995;
}

json.key {
  color: #40b4c4;
}

/* YAML */
yaml.string.unquoted {
  color: #b4dce7;
}

yaml.operator.literal {
  color: #ffe261;
}

yaml.colon,
yaml.operator.dash,
toml.operator {
  color: #91889b;
}

/* Shell Script */
shell.definition.function {
  color: #eb64b9;
}

shell.string-template {
  color: #91889b;
}

shell.keyword.builtin-command {
  color: #eb64b9;
}

shell.operator {
  color: #74dfc4;
}

/* Makefile */
makefile.identifier {
  color: #eb64b9;
}

makefile.identifier.dependencies {
  color: #91889b;
}

/* INI */
ini.pair.identifier.key {
  color: #40b4c4;
}

ini.pair.operator.equals {
  color: #7b6995;
}

/* Terminal */
terminal.black {
  color: #000;
}

terminal.bright-black {
  color: #000;
}

terminal.blue {
  color: #40b4c4;
}

terminal.bright-blue {
  color: #40b4c4;
}

terminal.cyan {
  color: #b4dce7;
}

terminal.bright-cyan {
  color: #b4dce7;
}

terminal.green {
  color: #74dfc4;
}

terminal.bright-green {
  color: #74dfc4;
}

terminal.magenta {
  color: #b381c5;
}

terminal.bright-magenta {
  color: #b381c5;
}

terminal.red {
  color: #eb64b9;
}

terminal.bright-red {
  color: #eb64b9;
}

terminal.yellow {
  color: #ffe261;
}

terminal.bright-yellow {
  color: #ffe261;
}

terminal.white {
  color: #ffffff;
}

terminal.bright-white {
  color: #ffffff;
}

/* Javascript */
javascript.colon,
javascript.comma,
javascript.dot,
javascript.semicolon {
  color: #7b6995;
}

javascript.identifier.function,
javascript.identifier.method {
  color: #eb64b9;
}

javascript.identifier.core.global {
  color: #ffe261;
}

javascript.identifier.key.name,
javascript.identifier.property {
  color: #ffffff;
}

javascript.keyword.construct {
  color: #b381c5;
}

/* JSX */
jsx.tag-content.bare-words {
  color: #ffffff;
}

jsx.value.variable {
  color: #74dfc4;
}

jsx.value.variable.bracket {
  color: #7b6995;
}

/* Typescript */
typescript.colon,
typescript.comma,
typescript.dot,
typescript.semicolon {
  color: #7b6995;
}

typescript.identifier.key.name,
typescript.identifier.property {
  color: #ffffff;
}

typescript.identifier.constant.name {
  color: #eb64b9;
}

typescript.identifier.type.core {
  color: #b381c5;
}

typescript.identifier.type {
  color: #74dfc4;
}

typescript.keyword.variable.let {
  color: #b381c5;
}

/* TSX */
tsx.tag-content.bare-words {
  color: #ffffff;
}

tsx.value.variable {
  color: #74dfc4;
}

tsx.value.variable.bracket {
  color: #7b6995;
}

/* Elm */
elm.comma,
elm.dot {
  color: #7b6995;
}

elm.identifier.type-variable {
  color: #ffffff;
}

/*# sourceMappingURL=laserwave.css.map */
